@page "/"
@using ApplicationCore.Models
@using ApplicationCore.Interfaces
@using Microsoft.AspNetCore.Components
@using Infrastructure.Utility
@using ResaleRarities.Pages.Products
@inject Radzen.NotificationService NotificationService
@using Radzen

@inject IJSRuntime JsRuntime

<PageTitle>Home</PageTitle>
@if (IsLoading)
{
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <p>Loading...</p>
    </div>
}
else if (!IsProductBeingViewed)
{
    <div class="text-center">
        <RadzenText TextStyle="TextStyle.H5">Find Rarities</RadzenText>
    </div>
    <div id="searchAccordion">
        <div class="accordion custom-accordion" id="accordionSearchFilters">
            <div class="accordion-item">
                <h2 class="accordion-header col-12 col-sm-4 col-md-3 col-lg-2" id="searchFiltersHeading">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#searchFiltersCollapse" aria-expanded="false" aria-controls="searchFiltersCollapse">
                        Search Filters
                    </button>
                </h2>
                <div id="searchFiltersCollapse" class="accordion-collapse collapse show" aria-labelledby="searchFiltersHeading">
                    <div class="accordion-body">
                        <div class="row">

                            <div class="col-12 col-md-1 d-flex align-items-center justify-content-md-end">
 
                                <RadzenLabel Text="Category" Component="CategoryDropdown" Style="margin-right: 8px; vertical-align: middle;" />
                            </div>
                            <div class="col-12 col-md-3 d-flex align-items-center">

                                <RadzenDropDown @bind-Value=@SelectedCategory Data=@ItemCategories Style="width: 100%; max-width: 400px;" Name="CategoryDropdown" AllowClear=true Placeholder="Select Category" />
                            </div>
                            <div class="col-12 col-md-1 d-flex align-items-center">
                                <RadzenLabel Text="Condition" Component="ConditionDropdown" Style="margin-right: 8px; vertical-align: middle;" />
                            </div>

                            <div class="col-12 col-md-3 d-flex align-items-center">
                                <RadzenDropDown @bind-Value=@SelectedCondition Data=@ItemConditions Style="width: 100%; max-width: 400px;" Name="ConditionDropdown" AllowClear=true Placeholder="Select Condition" />
                            </div>
                            <div class="col-12 mt-3 mt-md-0 col-md-3 d-flex align-items-center">
                                <input class="form-control" type="text" @bind="@searchTerm" placeholder="Search" />
                            </div>
                            <div class="col-12 col-md-1 mt-3 mt-md-0 d-flex align-items-center justify-content-center">
                                <RadzenButton Shade="Shade.Light" Click="@FilterProducts" Text="Go" ButtonStyle="ButtonStyle.Primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @if (FilteredProductListings.Any())
    {
            <!-- Listing Cards Section -->
            <div class="row justify-content-center">
                <!-- Loop through filtered product listings -->
                @foreach (var product in FilteredProductListings)
                {
                    <!-- Display individual product card -->
                    <div class="col-md-3 col-12 d-flex align-items-stretch">
                        <div class="listing-card enlarge-animation w-100" @onclick="()=> ViewProduct(product.Id)">
                            <!-- Display product image -->
                            @{
                                var frontImage = _unitofWork.Image.Get(image => image.ProductId == product.Id);
                                if (frontImage != null)
                                {
                                    <div class="justify-content-center d-flex">
                                        <img src="@($"data:image;base64,{Convert.ToBase64String(frontImage.ImageData)}")" alt="Product Picture" class="listing-card-image" style="width: 200px; height: 200px;" />
                                    </div>
                                }
                                else
                                {
                                    <img src="https://via.placeholder.com/150" alt="Placeholder Image" class="listing-card-image" />
                                }
                            }
                            <!-- Display product details -->
                            <div class="text-center">@product.Name</div>
                            <p>Condition: @(product.Condition?.Type ?? "Not Listed")</p>
                            <p>Category: @(product.Category?.Name ?? "Not Listed")</p>
                        </div>
                    </div>
                }
            </div>
    }
    else
    {
        <!-- Display error message when no results are found -->
        <div class="alert alert-danger" role="alert">
            <span class="oi oi-warning"></span> No results found.
        </div>
    }
}
else
{
    <ViewProduct ClosedProductView="HandleCloseView" ViewedProduct="@ViewedProduct" />
}

@code
{
    IEnumerable<Product> ProductListings = new List<Product>();
    IEnumerable<Product> FilteredProductListings = new List<Product>(); // Filtered product listings
    string searchTerm = ""; // Search term
    [Inject]
    private IUnitofWork? _unitofWork { get; set; }
    [Inject]
    private NavigationManager Navigation { get; set; } // Inject NavigationManager
    private bool IsProductBeingViewed { get; set; } = false;
    //ViewedProduct
    private Product? ViewedProduct { get; set; }
    private bool IsLoading { get; set; } = true;
    //Dropdown
    public string SelectedCategory { get; set; } = string.Empty;
    public IEnumerable<string> ItemCategories { get; set; } = new List<string>();
    private string SelectedCondition { get; set; } = string.Empty;
    public IEnumerable<string> ItemConditions { get; set; } = new List<string>();


    protected override void OnInitialized()
    {
        ProductListings = _unitofWork!.Product.List(pl => pl.Listing.ListingStatus.StatusDescription == SD.LSPostedForBid, includes: "Listing.ListingStatus,Category,Condition");

        ItemCategories = _unitofWork.Category.List().Select(c => c.Name);
        ItemConditions = _unitofWork.Condition.List().Select(c => c.Type);

        FilteredProductListings = ProductListings; // Initialize filtered list with all products
        ViewedProduct = new Product();
        IsLoading = false;
        StateHasChanged();
    }

    private void ViewProduct(string Id)
    {
        ViewedProduct = _unitofWork.Product.Get(p => p.Id == Id);
        IsProductBeingViewed = true;
    }

    private void HandleCloseView()
    {
        IsLoading = true;
        StateHasChanged();
        IsProductBeingViewed = false;
        ViewedProduct = new Product();
        IsLoading = false;
        StateHasChanged();
    }

    private void FilterProducts()
    {
        IsLoading = true;
        StateHasChanged();
        FilteredProductListings = ProductListings.Where(product =>
            product.Name.ToLower().Contains(searchTerm.ToLower()) ||
            product.Condition?.Type.ToLower().Contains(searchTerm.ToLower()) == true ||
            product.Category?.Name.ToLower().Contains(searchTerm.ToLower()) == true);

        if (!String.IsNullOrEmpty(SelectedCategory))
        {
            FilteredProductListings = FilteredProductListings.Where(product =>
                product.Category != null &&
                product.Category.Name.Equals(SelectedCategory)
            );
        }
        if (!String.IsNullOrEmpty(SelectedCondition))
        {
            FilteredProductListings = FilteredProductListings.Where(product =>
                product.Condition != null &&
                product.Condition.Type.Equals(SelectedCondition)
            );
        }

        IsLoading = false;
        StateHasChanged();
    }


}
